.about {
    padding-right: 20vw;
}

.about p {
    font-size: large;
}

.profile {
    height: 100px;
    border-radius: 10px;
    background-size: cover;
    border: solid 2px #65ffda;
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url("https://media-exp1.licdn.com/dms/image/C4E03AQG_noM1LjACyQ/profile-displayphoto-shrink_800_800/0/1634609258730?e=1642032000&v=beta&t=R9pGMeDDvSYYrzOZd-Um2aGN3OzWnRIlnCBXKDEEWjI");
}
