.intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    padding-left: 15vw;
    padding-right: 25vw;
}

.intro,
.intro * {
    overflow-x: hidden;
}

.intro > img {
    height: 150px;
    animation: circular 7s linear infinite;
}

.intro > p {
    font-size: larger;
    text-overflow: clip;
    overflow-y: hidden;
}

.title {
    font-size: 90px;
    color: lightgrey;
    width: min-content;
    box-sizing: border-box;
}

.subtitle {
    font-size: 55px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button {
    color: #65ffda !important;
    font-size: larger !important;
    text-transform: none !important;
    border-color: #65ffda !important;
    transition: all 0.1s ease !important;
    padding: 1.3% !important;
}

.button * {
    color: #65ffda !important;
}

.button:hover * {
    color: lightgray !important;
    background-color: transparent;
}
.button:hover {
    color: lightgray !important;
    background-color: #8892b044 !important;
}

@keyframes circular {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.typewriter {
    letter-spacing: 0;
    white-space: nowrap;
    text-overflow: clip;
    border-right: 5px solid #65ffda;
    animation: typing 1.5s .5s steps(14, end) forwards,
        blink 0.7s alternate-reverse infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    from {
        border-color: transparent;
    }
    to {
        border-color: #65ffda;
    }
}
